{% include 'v_sommaire.html.twig' %}
{% block body %}
<h3>Fiche de frais du mois {{ fiche.mois }} : 
    </h3>
    <div class="encadre">
    <p>
        Etat : {{ fiche.idetat.id }} depuis le {{ fiche.datemodif|date('d-m-Y') }} <br> Montant validé : {{ fiche.montantvalide }}
              
                     
    </p>
  	<table class="listeLegere">
    
  	   <caption>Eléments forfaitisés </caption>
        <tr>
			  <th>{{ fraisForfait.libelle }}</th>
		</tr>
        <tr>
        <td class="qteForfait">{{ ligneFraisForfait.quantite }} </td>
		</tr>
    </table>
  	<table class="listeLegere">
  	   <caption>Descriptif des éléments hors forfait -<?php echo $nbJustificatifs ?> justificatifs reçus -
       </caption>
             <tr>
                <th class="date">Date</th>
                <th class="libelle">Libellé</th>
                <th class='montant'>Montant</th>                
             </tr>
        <?php      
          foreach ( $lesFraisHorsForfait as $unFraisHorsForfait ) 
		  {
			$date = $unFraisHorsForfait['date'];
			$libelle = $unFraisHorsForfait['libelle'];
			$montant = $unFraisHorsForfait['montant'];
		?>
             <tr>
                <td><?php echo $date ?></td>
                <td><?php echo $libelle ?></td>
                <td><?php echo $montant ?></td>
             </tr>
        <?php 
          }
		?>
    </table>
  </div>
  </div>
 
    {% endblock %}













